S3method(plot,mcmckingui)
S3method(print,summary.kingui)
S3method(print,summary.mcmckingui)
S3method(summary,kingui)
S3method(summary,mcmckingui)
export(EF)
export(IRLSkinfit.full)
export(autolayout)
export(chi2err)
export(completeCompound)
export(kingraph)
export(kinplot)
export(mcmckinfit.full)
export(rmse)
exportClasses(kingui)
exportClasses(summary.kingui)
