export(autolayout)
export(calcCovar)
export(chi2err)
export(compare_multi_kinmod)
export(completeCompound)
export(datagraph)
export(EF)
export(emptygraph)
export(emptyreport)
export(fdjacobian)
export(FOMC.solution)
export(IRLSkinfit.full)
export(IRLSkinfit.full.0)
export(kin_mod)
export(kin_mod_cost)
export(kin_mod_nls)
export(KinEval)
export(kingraph)
export(kingui.control)
export(kinplot)
export(KinReport)
export(list2ascii)
export(lsqnonlin)
export(MCMCcontrol)
export(mcmckinfit.full)
export(MCMCstd)
export(MCstd)
export(mkinfit.full)
export(mkinmod.full)
export(modFit1)
export(myformat)
export(rmse)
export(update_kinmod)
exportClasses(kingui)
exportClasses(mkinmod.full)
import(BB)
import(coda)
import(deSolve)
import(FME)
import(minpack.lm)
import(minqa)
import(numDeriv)
import(optimx)
import(Rsolnp)
S3method(plot,mcmckingui)
S3method(print,summary.kingui)
S3method(print,summary.mcmckingui)
S3method(print,summary.mkinmod.full)
S3method(summary,kingui)
S3method(summary,mcmckingui)
S3method(summary,mkinmod.full)
