S3method(plot,mcmckingui)
S3method(print,summary.kingui)
S3method(print,summary.mcmckingui)
S3method(summary,kingui)
S3method(summary,mcmckingui)
export(EF)
export(IRLSkinfit.full)
export(IRLSkinfit.full.0)
export(KinEval)
export(autolayout)
export(chi2err)
export(compare_multi_kinmod)
export(completeCompound)
export(kin_mod)
export(kin_mod_cost)
export(kin_mod_nls)
export(kingraph)
export(kingui.control)
export(kinplot)
export(mcmckinfit.full)
export(mkinfit.full)
export(mkinmod.full)
export(rmse)
export(update_kinmod)
exportClasses(kingui)
exportClasses(mkinmod.full)
import(mkin)
importFrom(FME,modFit)
importFrom(FME,modMCMC)
importFrom(Rsolnp,solnp)
importFrom(coda,as.mcmc)
importFrom(coda,traceplot)
importFrom(deSolve,ode)
importFrom(minpack.lm,nls.lm)
importFrom(minpack.lm,nls.lm.control)
importFrom(minqa,bobyqa)
importFrom(optimx,optimx)
